@{
    ViewBag.Title = "Home Page";
}

    <div class="container">      
        <div id="components-demo">
            <button-counter class="btn btn-primary"></button-counter>
        </div>
    </div>


@section scripts{
    <script src="~/App/component/home/jumbotronComponent.js"></script>
}